<a href="https://colab.research.google.com/github/siddharth4182/ML_23AG1A66F6/blob/main/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_csv('/Dataset.csv')
data.head()

    NAME    AGE GENDER  MARKS      CITY
0   Alice  18.0      F   85.0    LONDON
1     Bob   NaN      M   90.0  NEW YORK
2  carthy  19.0      F   95.0       NaN
3   david  17.0      M   72.0    SYDNEY
4    eva   18.0      F    NaN    LONDON

In [ ]:

data.fillna({
    'AGE':data['AGE'].mean(),
    'MARKS':data['MARKS'].mean(),
    'CITY':'unknown'
},inplace=True)

print(data)

    NAME    AGE GENDER  MARKS      CITY
0   Alice  18.0      F   85.0    LONDON
1     Bob  18.0      M   90.0  NEW YORK
2  carthy  19.0      F   95.0   unknown
3   david  17.0      M   72.0    SYDNEY
4    eva   18.0      F   85.5    LONDON

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Alice'],
    'Age': [18, 18, 18],
    'Gender': ['F', 'M', 'F'],
    'Marks': [85, 90, 85]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

Original Data:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90
2  Alice   18      F     85